.App {
  text-align: center;
}

.App-logo {
  height: 14vmin;
  pointer-events: none;
  float: left;
}

.App-header {
  background-color: #fc4c02;
  min-height: 5vh;
  display: flex;
  justify-content: left;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-body {
  background-color: lightgrey;
  min-height: 90vh;
}

.App-link {
  color: #61dafb;
}